{
    "timeout": 10,
    "source": {
        "directories": [
            "src"
        ],
        "excludes": [
            "Contracts"
        ]
    },
    "logs": {
        "text": "infection-log.txt"
    }
}